#header{
    display: flex;
    justify-content: space-between;

}



#header img{
    width :100px;
    height:90px;

}

body{
    background-size: cover;
    background-color: rgb(214, 174, 132);
}






#main{

     display: flex;
     justify-content:space-evenly ;
}



#l1 , #l2 , #l3, #l4 , #l5, #l6{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 50px;
    border-radius: 10px;
    width: 360px ;
    height: 380px;
}

h3{
    color:black;
}



#l1 img , #l2 img  , #l3 img , #l4 img , #l5 img, #l6 img{
    margin-top: 10%;
    border-radius: 10px;
    box-shadow: rgb(0, 0, 0) 0 0 10px;

}


.image:hover{
    transform: scale(1.1);
}

#date{
    margin-top: 100px;
    margin-left: 70%;
    background-color: rgb(214, 174, 132);
    border: 0  rgb(214, 174, 132);
    font-family:  cursive;
}




